@font-face {
    font-family: '양진체';
    src: url('https://fastly.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.header{
    margin-top: -15px;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 10px 30px;
}
.head-left,
.head-center,
.head-right {
  display: flex;
  align-items: center;
}
.logo {
  height: 40px;
}
.title {
  font-size: 28px;
  font-weight: bold;
}
#account_name {
  font-size: 14px;
}
.account {
    display: flex;
    flex-direction: column; 
    align-items: center;  
}
.account span {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    max-width: 80px;
    color: white; 
    text-align: center;
}

  
.account-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 8px;
}
  
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: black;
    font-family: '양진체';
}


.naljja_body{
    width: 100%;
    height: 5vh;
    background-color: white;
    justify-content: center;
    display: flex;
}

.naljja {
    color: black;
    width: 171;
    height: 48;
    font-family: '양진체';
    margin-top: 10px;

}

.Icon{
    margin-top: 5px;
}

.em{
    background-color: black;
    width: 100%;
    height: 2vh;
}
.week{
    width: 100%;
    height: 2vh;
    border: 1px solid black;
    background-color: white;
}
.weekdays{
    font-size: 10px;
    display: flex;
    justify-content: space-between; 
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
}
.Sun{
    color: red;
}

main {
  height: 100vh; 
  margin: 0;
  padding: 0;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr); 
  grid-template-rows: repeat(5, 1fr);    
  width: 100%;
  height: 100%;
}

.cell {
  border: 1px solid #999;
  background-color: white;
}

